.page.theme_light {
  --main-background-color: #fff1f7;
  --acent-background-color: #ff8dcb;
  --main-background-image: url('../images/cover-image-light.png');
  --main-color: #353430;
  --main-color-hover: rgba(50, 49, 45, 0.40);
  --acent-color: #ffc2e6;
}