/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-background-color: #fff1f7;
  --acent-background-color: #ff8dcb;
  --main-background-image: url('../images/cover-image-light.png');
  --main-color: #353430;
  --main-color-hover: rgba(50, 49, 45, 0.40);
  --acent-color: #ffc2e6;
  --main-font-family: "IBM Plex Mono";
  --main-font-size: calc(18rem / 16);
  --decor-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-font-style: normal;
  --main-font-weight: 400;
  --acent-font-weight: 700;
  --main-line-height: 1.3;
  --decor-line-height: 0.825;
  --regular-pag-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}